</head>
  <body>

    <div class="container">

        <h1>Add New</h1>
      <form class="newTodo" action="/fire" method="post">
        <input type="text" name="todo" value="todo">
        <input type="submit" value="Submit"/>
      </form>
      <div>
        <div>

          <h1>TODO BRUH</h1>
          {{#todos}}
          {{^completion}}
        <form class="onList" action='/results/{{id}}' method="post">
            <p>{{name}}
        <button type="submit" name="markAsComplete" value='todo'>Mark as Complete</button></p>
        </form>
          {{/completion}}


          {{/todos}}
          <h1>These Are Done</h1>
          {{#todos}}
          {{#completion}}
            {{name}}
            {{/completion}}</input>
            <br>
          {{/todos}}

        </div>
        <br>
      </div>
    </div>
